* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: transparent;
    padding: 30px 0;
    position: fixed;
    top: 0;
    transition: .3s linear;
    z-index: 999;
}
.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    background: url(../image/logo.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    filter: contrast(50);
}
.menu-toggler {
    width: 30px;
    height: 33px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    z-index: 999;
}
.menu-toggler span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}
.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
    transition: .2s linear;
}
.navbar-menu a:hover {
    color: #9FB3C7 !important;
}
.sticky {
    background-color: #fff;
}
.sticky .navbar-menu a {
    color: #111
}
.sticky .menu-toggler span {
    background-color: #111;
}

#home {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/bg_img.jpg);
}
#home .inner-width {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .content {
    width: 100%;
    text-align: center;
}
#home .content h1 {
    margin-bottom: 60px;
    font-size: 45px;
    font-weight: 550;
    color: #fff;
}

#home .content h1::before {
    content: "";
    animation: textanim 15s infinite linear;
    text-transform: uppercase;
}
@keyframes textanim {
    0% {
        content: "weather storage for you";
    }
    25% {
        content: "covering all area";
    }
    50% {
        content: "easy to search";
    }
    75% {
        content: "flexible data";
    }
    100% {
        content: "all you need is here"
    }
}

.sm a{
    color: #333;
    font-size: 24px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover {
    color: #9FB3C7;
}

#home .buttons {
    margin: 60px 0;
}

#home .buttons a {
    display: inline-block;
    margin: 15px 30px;
    padding: 14px 0;
    width: 180px;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #333;
    border-radius: 6px;
    transition: .2s linear;
}

#home .buttons a:hover, 
#home .buttons a:nth-child(2){
    color: #fff;
    background-color: #333;
}

section {
    padding: 100px 0;
    background-color: #f1f1f1;
}

.section-title {
    text-align: center;
    font-size: 26px;
    color: #111;
    margin-bottom: 80px;
    padding-bottom: 20px;
    position: relative;
}
.section-title::before {
    content: "";
    width: 80px;
    height: 3px;
    background-color: #111;
    position: absolute;
    left: calc(50% - 40px);
    bottom: 0;
}
.section-title::after {
    content: "";
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    position: absolute;
    left: calc(50% - 12px);
    bottom: -7px;
}
.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-pic {
    width: 200px;
    margin-right: 100px;
}
.about-text {
    flex: 1;
}
.about-text h3 {
    margin: 10px 0;
    color: #444;
    font-size: 16px;
}
.about-text h3 span:nth-child(1)::after,
.about-text h3 span:nth-child(2)::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #444;;
    border-radius: 50%;
    margin: 0 14px;
    display: inline-block;
}
.about-text p {
    font-size: 17px;
    margin-top: 26px;
    line-height: 20px;
    text-align: justify;
}
.skills {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill {
    width: calc(50% - 20px);
    margin: 15px 0;
}
.skill-info {
    display: flex;
    justify-content: space-between;
}
.skill-bar {
    height: 3px;
    margin-top: 14px;
    background-color: #ddd;
    position: relative;
}
.skill-bar::after {
    content: "";
    height: 3px;
    background-color: #48dbfb;
    position: absolute;
}
.skill-bar.html::after {
    width: 90%;
}
.skill-bar.css::after {
    width: 80%;
}
.skill-bar.js::after {
    width: 80%;
}
.skill-bar.php::after {
    width: 0;
}
.skill-bar.mysql::after {
    width: 10%;
}
.skill-bar.cs::after {
    width: 15%;
}
.dark-board {
    background-color: #353b48;
}
.dark-board .section-title {
    color: #fff;
}
.dark-board .section-title::before {
    background-color: #fff;
}
.dark-board .section-title::after {
    border: 4px solid #353b48;
}
#services .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}
#services .services .icon{
    color: #48dbfb;
}
#services .service {
    border: 2px solid #48dbfb;
    border-radius: 6px;
    margin: 10px auto;
    width: calc(50% - 20px);
    text-align: center;
}
#services .service:hover {
    background-color: #48dbfb;
}
#services .service:hover .icon{
    color: #fff;
}
.time-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    width: calc(33% - 20px);
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 10px 0;
    padding: 30px;
    position: relative;
}
.block::before {
    content: "";
    width: 1px;
    height: 120%;
    background-color: #ddd;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.block::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #48dbfb;
    position: absolute;
    left: -28px;
    top: 30px;
}
.block h3 {
    font-size: 15px;
    margin: 10px 0;
}
.works {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work {
    width: calc(33% - 10px);
    overflow: hidden;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.work img {
    width: 100%;
    height: 100%;
    transition: .4s linear;
}
.work::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #48dbfb;
    transition: .2s linear;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transform: scale(0);
}
.work .info {
    position: absolute;
    color: #fff;
    z-index: 2;
    bottom: 40px;
    left: 20px;
    opacity: 0;
    transform: scale(0);
    transition: .2s linear;
}
.work:hover img{
    transform: scale(1.6) rotate(25deg);
}
.work:hover::before {
    opacity: 0.7;
    transform: scale(1);
}
.work:hover .info {
    opacity: 1;
    transform: scale(1);
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.contact-info .item {
    width: calc(33% - 20px);
    height: 160px;
    background-color: #353b48;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    transition: .3s linear;
}
.contact-info i {
    display: block;
    height: 100px;
    font-size: 40px;
    line-height: 120px;
}
.contact-info .item:hover {
    background-color: #48dbfb;
}
.contact-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 20px;
    background-color: #353b48;
    color: #fff;
    border-radius: 6px;
}
.contact-form .nameZone, 
.contact-form .emailZone {
    width: calc(50% - 10px);
}
.contact-form .messageZone{
    min-height: 200px;
    resize: vertical;
}
.contact-form .btn {
    width: 180px;
    background-color: transparent;
    color: #48dbfb;
    border: 2px solid #48dbfb;
    margin-left: auto;
    font-size: 16px;
    padding: 0;
    transition: .3s linear;
    cursor: pointer;
}
.contact-form .btn:hover {
    background-color: #48dbfb;
    color: #fff;
}
footer {
    background : url(../image/bg_img.jpg) no-repeat center;
    color: #353b48;
    text-align: center;
    padding: 80px 0;
}
.copyright {
    margin-bottom: 20px;
}
.copyright a {
    color: #487eb0;
    font-weight: 500;
}
.goTop {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #48dbfb;
    border: none;
    outline: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    color: #fff;
}
@media screen and (max-width: 980px){
    .menu-toggler {
        display: block;
    }
    .navbar-menu {
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        max-width: 400px;
        background-color: #353b48;
        padding: 80px 40px;
        transition: .3s linear;
    }
    .navbar-menu a {
        display: block;
        margin: 40px 0;
        font-size: 30px;
    }
    .sticky .navbar-menu {
        background-color: #f1f1f1;
    }
    .navbar-menu.active {
        right: 0;
    }
    
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    .inner-width {
        max-width: 800px;
    }
    .about-pic {
        margin: 0 auto 60px;
    }
    .about-text {
        flex: 100%;
        text-align: center;
    }
    .block {
        width: 100%;
        margin-left: auto;
    }
    .work {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 600px){
    .inner-width {
        padding: 0 20px;
    }
    .skill {
        width: 100%;
    }
    #services .service {
        width: 100%;
    }
    .work {
        width: 100%;
    }
}
